<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StateEvaluation.BioColor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StateEvaluation.BioColor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
   <add name="DataRepository" connectionString="data source=mssql1.gear.host;initial catalog=preferencedb;persist security info=True;user id=preferencedb;password=Qwe!23;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <StateEvaluation.BioColor.Settings>
      <setting name="step" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="alpha" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="p1" serializeAs="String">
        <value>EE8728</value>
      </setting>
      <setting name="p2" serializeAs="String">
        <value>EF5029</value>
      </setting>
      <setting name="p3" serializeAs="String">
        <value>E71D25</value>
      </setting>
      <setting name="p4" serializeAs="String">
        <value>E21383</value>
      </setting>
      <setting name="e1" serializeAs="String">
        <value>0FAB56</value>
      </setting>
      <setting name="e2" serializeAs="String">
        <value>8BC543</value>
      </setting>
      <setting name="e3" serializeAs="String">
        <value>FBEC0E</value>
      </setting>
      <setting name="e4" serializeAs="String">
        <value>FABF25</value>
      </setting>
      <setting name="i1" serializeAs="String">
        <value>493C93</value>
      </setting>
      <setting name="i2" serializeAs="String">
        <value>2A4695</value>
      </setting>
      <setting name="i3" serializeAs="String">
        <value>1F5EA8</value>
      </setting>
      <setting name="i4" serializeAs="String">
        <value>00AAE0</value>
      </setting>
    </StateEvaluation.BioColor.Settings>
  </userSettings>
  <appSettings>
    <add key="imagePath" value="/../../Assets/Templates/"/>
    <add key="baseImagePath" value="base_"/>
    <add key="generatedImagePath" value="Image_"/>
  </appSettings>
  <applicationSettings>
    <StateEvaluation.BioColor.Settings>
      <setting name="Int_Red" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="Int_Green" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="Int_Blue" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="mid" serializeAs="String">
        <value>375</value>
      </setting>
      <setting name="square" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="topline" serializeAs="String">
        <value>20</value>
      </setting>
    </StateEvaluation.BioColor.Settings>
  </applicationSettings>
</configuration>